$colorInvestorPageBG-1: #7594E3;
$colorInvestorPageBG-2: #B377F4;
$colorInvestorPageBG-3: #211832;
$colorInvestorPageSeparator: #8E88EA;


$colorBorder1: #707070;
$colorBorder2: #E552F5;

$colorTextDark: #313131;
$colorTextDark2: #090909;
$colorTextBlueviolet : #5A0EA7;


$colorBtnBG1: #F1F18B;
$colorBtnBG2: #F3763E;
$colorBtnBG3: #768FE1;
$colorBtnBG4: #865ACF;

$colorSectLink: #4A90E2;


// sizes
$--font-size-base: 18px;
$--border-radius: 65px;
