$colorInvestmentsBG-1: #7594E3;
$colorInvestmentsBG-2: #B377F4;
$colorInvestmentsBG-3: #211832;
$colorInvestmentsSeparator: #8E88EA;


$colorBorder1: #707070;
$colorBorder2: #E552F5;

$colorTextDark: #313131;
$colorTextDark2: #090909;

$colorBtnBG1: #F1F18B;
$colorBtnBG2: #F3763E;
$colorBtnBG3: #768FE1;
$colorBtnBG4: #865ACF;
