.wrapper {
  padding-bottom: 40px;
}

.wrapper-idea {
  margin: 125px auto 0;
  padding: 30px;
  border-radius: 18px;
  font-size: 28px;
  box-shadow: 7px 7px 25px rgba(0,0,0,.18);
  background-color: #fff;
}

.wrapper-idea .chapter {
  width: 204px;
  height: 204px;
  margin: -132px auto 0;
  border-radius: 102px;
  box-shadow: 7px 7px 25px rgba(0,0,0,.15);
  background-color: #fff;
}

.wrapper-idea .chapter img {
  width: 64%;
  margin: 18%;
}

.wrapper-idea .editable h2 {
  margin: 30px 0;
  font: bolder 1.85em Roboto,sans-serif;
  text-align: center;
}

.wrapper-idea .editable p {
  font: normal 1em Roboto,sans-serif;
  text-align: center;
}

.wrapper-idea .editable [contenteditable="true"] {
  outline: 2px dashed #a5c7fe;
}

.wrapper-idea .editable i[data-action] {
  position: relative;
  margin: 12px -20px 0 -55px;
  font-size: 1.4em;
  text-shadow: 0 0 7px #fff;
  cursor: pointer;
  float: right;
  color: #e648cd;
  background: rgba(255,255,255,.75);
}

.wrapper-idea a.link-details {
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  color: #e648cd;
}

.wrapper-idea a.link-details:hover {
  text-decoration: underline;
}

.wrapper-idea .pie-chart {
  margin-top: 40px;
  padding: 40px 30px;
  border-radius: 18px;
  background: #78329c url(/img/layout-2/bg-pie.jpg);
  background-size: cover;
}

.wrapper-idea .pie-chart dl {
  display: inline-block;
  margin-bottom: 10px;
  text-align: left;
  color: #fff;
}

.wrapper-idea .pie-chart dl.right {
  float: right;
}

.wrapper-idea .pie-chart dt {
  display: inline-block;
  font: normal 1.2em Roboto,sans-serif;
}

.wrapper-idea .pie-chart dt b {
  font-size: 1.8em;
}

.wrapper-idea .pie-chart dd {
  display: inline-block;
  margin-left: 10px;
  font: normal .85em Roboto,sans-serif;
  white-space: nowrap;
}

.wrapper-idea .pie-chart h4 {
  font: normal 1.15em/64px Roboto,sans-serif;
  color: #fff;
}

.wrapper-idea .btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: .5em;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 8px;
}

.wrapper-idea .btn:focus {
  outline: 0;
}

.wrapper-idea .btn-group {
  display: inline-block;
  width: 90px;
  margin: 10px 4% 0;
}

.wrapper-idea .btn-group .btn {
  width: 100%;
  padding: 0;
  border-color: #f876e3;
  font: bold 1.05em/64px Roboto,sans-serif;
  color: #f876e3;
}

.wrapper-idea .btn-group .btn:first-child {
  border-bottom: 0;
  border-radius: 8px 8px 0 0;
}

.wrapper-idea .btn-group .btn:last-child {
  border-radius: 0 0 8px 8px;
}

.wrapper-idea .btn-group .btn:hover {
  text-decoration: none;
  background: rgba(248,118,227,.1);
}

.wrapper-idea .btn-list {
  width: 100%;
  height: 80px;
  margin: 35px 0 10px;
  border: 0;
  border-radius: 40px;
  font: normal 1em Roboto,sans-serif;
  text-transform: uppercase;
  box-shadow: 3px 3px 7px rgba(0,0,0,.1);
  color: #fff;
  background: rgb(255,57,169);
  background: linear-gradient(90deg, rgba(255,57,169,1) 0%, rgba(207,86,237,1) 100%);
}

.wrapper-idea .btn-list:active, .wrapper-idea .btn-list:hover {
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
  box-shadow:inset 0 3px 5px rgba(0,0,0,.125);
}

.wrapper-idea .help {
  position: relative;
  display: inline-block;
  margin: -165px -103px -180px 0;
  text-align: center;
  text-decoration: none !important;
  float: right;
}

.wrapper-idea .help img {
  margin-bottom: -25px;
}



.wrapper-idea .help span {
  padding: 5px 15px;
  font: normal 22px Roboto,sans-serif;
  border-radius: 10px;
  box-shadow: 4px 4px 27px rgba(0,0,0,.09);
  background: rgba(185,64,186,.75);
  color: #fff;
}

.wrapper-idea .help em {
  position: absolute;
  width: 200px;
  min-height: 100px;
  margin: -150px 0 0 -320px;
  padding: 5px;
  font: normal 16px Roboto,sans-serif;
  border-radius: 10px;
  box-shadow: 4px 4px 7px rgba(0,0,0,.18);
  color: #000;
  background: #fff;
}

.wrapper-idea .help em .arrow-right {
  position: absolute;
  width: 0;
  height: 0;
  top: 45px;
  left: 210px;
  border: 9px solid #fff;
  border-color: transparent transparent transparent #fff;
}

.wrapper-idea .workarea {
  height: 150px;
  overflow: hidden;
}

.wrapper-idea .task-list ul {
  margin: 30px 0 0 25px;
  font: normal .85em Roboto,sans-serif;
}

#chartarea {
  width: 100%;
  height: 190px;
  margin-top: -20px;
}

#chartarea a {
  top: 25px !important;
  color: #78329c !important;
}

#chartarea a:hover {
  color: #000 !important;
}

@media screen and (max-width: 850px) {
  .wrapper-idea .pie-chart dl { font-size: 24px; }
}

@media screen and (max-width: 767px) {
  .wrapper-idea .pie-chart dl { font-size: 21px; }
}

@media screen and (max-width: 639px) {
  .wrapper-idea { font-size: 20px; }
  .wrapper-idea .chapter { width: 154px;  height: 154px;  margin-top: -110px; }
  .wrapper-idea .pie-chart dl { display: block; float: none !important; }
  .wrapper-idea .pie-chart dt { width: 50%; }
  .wrapper-idea .btn-group { width: 80px; margin: 0 2%; }
}

@media screen and (max-width: 479px) {
  .wrapper-idea { padding: 30px 20px; }
  .wrapper-idea .chapter { width: 120px;  height: 120px;  margin-top: -90px; }
  .wrapper-idea .pie-chart { padding: 40px 5px; }
  .wrapper-idea .btn-group { width: 60px; margin: 10px 1% 0; }
  .wrapper-idea .help { margin-right: -70px; }
}
