.btn_controls
  position: relative
  top: -170px
  left: -5%
  width: 110%

.btn__next-section, .btn__previous-section, .btn__finish-section
  color: #FAEBCA
  background: transparent
  border-radius: 45px
  border: 2px solid #bfb7a5

  span
      line-height: 1




